{% extends "polls/base.html" %}
{% block content %}
	<div class="container mt-3">
		<img class="rounded-circle" src="{{pic}}" alt="{{pic}}" width="100" height="100">
		<h2 class="text-left">{{user.first_name}} {{user.last_name}}</h3> 
		<p class="text-left text-muted">{{user.email}}</p>
		<p class="text-left text-muted">{{user.username}}</p>
		<small class="text-muted"><a class="ml-2" href="{% url 'change-password' %}">Change Password</a> | </small>
		<small class="text-muted"><a href="{% url 'edit-profile' %}">Edit profile</a></small>
		<hr>
	</div>
	<div class="container">
		<h3 class="text-left">Posts by You</h3>
	</div>
	{% if not posts %}
		<div class="border-top pt-3">
			<p class="text-muted">You don't have any post yet<a class="ml-2" href="{% url 'new-post' %}">Create</a></p>
		</div>
	{% else %}
		{% for post in posts %}
			<article class="media content-section mt-4">
				<div class="media-body">
					<div class="article-metadata">
						<a class="mr-2" href="#">{{ post.author }}</a>
						<small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
					</div>
					<h4><a class="article-title" href="#">{{ post.title }}</a> <small><a class="ml-2" href="{% url 'edit-post' pk=post.id %}">edit</a></small><small><a class="ml-2" href="{% url 'remove-post' pid=post.id %}">| remove</a></small></h4>
					<p class="article-content">{{ post.content }}</p>
				</div>
			</article><hr>
		{% endfor %}
	{% endif %}
	<script type="text/javascript">
	</script>
{% endblock content %}