{% extends "polls/base.html" %}
{% block content %}
	<div class="container mt-3">
		<img class="rounded-circle" src="{{pic}}" alt="{{pic}}" width="100" height="100">
		<h2 class="text-left">{{user.first_name}} {{user.last_name}}</h3>
		<p class="text-left text-muted">{{user.email}}</p>
		<p class="text-left text-muted">{{user.username}}</p>
		<small class="text-muted"><a class="ml-2" href="{% url 'change-password' %}">Change Password</a> | </small>
		<small class="text-muted"><a href="{% url 'edit-profile' %}">Edit profile</a></small>
		<hr>
	</div>
	<div class="container">
		<h3 class="text-left">Posts by You</h3>
	</div>
	{% if not posts %}
		<div class="border-top pt-3">
			<p class="text-muted">You don't have any post yet<a class="ml-2" href="{% url 'new-post' %}">Create</a></p>
		</div>
	{% else %}
		{% for post in posts %}
			<div class="container">
				
				<div class="row">
					<div class="col-sm">
						<div class="card mb-4">
							<div class="card-body">
								<div class="media">
									<img class="rounded-circle mr-3" height="50px" width="50px" src="{{post.author.profile.image.url}}" class="align-self-start mr-3" alt="...">
									<div class="media-body">
										<a href="{% url 'user-profile' post.author %}">{{post.author.first_name}} {{post.author.last_name}}</a>
										<small class="text-muted">on {{post.date_posted}}</small>
										<a href="{% url 'post-detail' post.id %}"><h5>{{post.title}}</h5></a>
										<p>{{post.content}}</p>
										<div class="border-top pt-3">
											<small class="text-muted"><a class="ml-2" href="{% url 'remove-post' post.id %}">Remove</a></small> |
											<small class="text-muted"><a class="ml-2" href="{% url 'edit-post' post.id %}">Edit</a></small> 

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		{% endfor %}
	{% endif %}
	<script type="text/javascript">
	</script>
{% endblock content %}